MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PORT=
MYSQL_HOST_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AIRFLOW_UID=
FERNET_KEY=

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

#큰 따음표 X, #$@등 특수문자 X